<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Java Day 2018</title>


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CPoppins:300,400,500,600,700"
          tppabs="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i%7CPoppins:300,400,500,600,700"
          rel="stylesheet">

    <!-- Bootstrap -->
    <link href="assets/2018/css/bootstrap.min.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-Awesome -->
    <link href="assets/2018/css/font-awesome.min.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/font-awesome.min.css"
          rel="stylesheet">

    <!-- Flat icon -->
    <link href="assets/2018/flaticon/flaticon.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/flaticon/flaticon.css" rel="stylesheet">

    <!-- Swiper -->
    <link href="assets/2018/css/swiper.min.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/swiper.min.css" rel="stylesheet">

    <!-- Lightcase -->
    <link href="assets/2018/css/lightcase.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/lightcase.css" rel="stylesheet">

    <!-- quick-view -->
    <link href="assets/2018/css/quick-view.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/quick-view.css" rel="stylesheet">

    <!-- nstSlider -->
    <link href="assets/2018/css/jquery.nstSlider.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/jquery.nstSlider.css"
          rel="stylesheet">

    <!-- flexslider -->
    <link href="assets/2018/css/flexslider.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/flexslider.css" rel="stylesheet">

    <!-- banner-bg -->
    <link href="assets/2018/css/banner-bg.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/banner-bg.css" rel="stylesheet">


    <!-- Style -->
    <link href="assets/2018/css/style.css" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/style.css"
          rel="stylesheet">

    <!-- Responsive -->
    <link href="assets/2018/css/responsive.css"
          tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/css/responsive.css" rel="stylesheet">


</head>

<body id="scroll-top" data-spy="scroll">

<div class="box-layout">
    <div class="mobile-menu-area">
        <div class="close">
            <i class="fa fa-close"></i>
        </div>
        <div class="mobile-menu">
            <ul class="m-menu">
                <li>
                    <a href="#">Home</a>
                    <ul class="mobile-submenu">
                        <li><a href="#">home submenu1</a></li>
                        <li><a href="#">home submenu2</a></li>
                        <li><a href="#">home submenu3</a></li>
                        <li><a href="#">home submenu4</a></li>
                        <li><a href="#">home submenu5</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li>
                    <a href="#">Porftolio</a>
                    <ul class="mobile-submenu">
                        <li><a href="#">portfolio submenu1</a>
                            <ul class="mobile-submenu">
                                <li><a href="#">portfolio submenu1</a></li>
                                <li><a href="#">portfolio submenu2</a></li>
                                <li><a href="#">portfolio submenu3</a></li>
                                <li><a href="#">portfolio submenu4</a></li>
                                <li><a href="#">portfolio submenu5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">portfolio submenu2</a></li>
                        <li><a href="#">portfolio submenu3</a></li>
                        <li><a href="#">portfolio submenu4</a></li>
                        <li><a href="#">portfolio submenu5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Service</a>
                    <ul class="mobile-submenu">
                        <li><a href="#">service submenu1</a></li>
                        <li><a href="#">service submenu2</a></li>
                        <li><a href="#">service submenu3</a></li>
                        <li><a href="#">service submenu4</a></li>
                        <li><a href="#">service submenu5</a></li>
                    </ul>
                </li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Trainer</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    {% block top_menu %}
        <header class="header-seven">
        <nav class="main-menu menu-fixed menu-seven">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"
                       tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/index.html"><img
                                style="height: 42px; margin-top: -5px" src="images/javadayorgua.png"
                                tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/logo-02.png"
                                alt="logo" class="img-responsive"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="header-cart-ticket-option pull-right">
                        <li><a href="ticket.html"
                               tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/ticket.html"
                               class="menu-button">Buy Ticket</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#scroll-top" class="page-scroll">home</a></li>
                        <li><a href="#speaker" class="page-scroll">speakers</a></li>
                        <li><a href="#schedule" class="page-scroll">schedule</a></li>
                        <li><a href="#pricing" class="page-scroll">pricing</a></li>
                        <li><a href="#sponsors" class="page-scroll">sponsors</a></li>
                        <li><a href="#venue" class="page-scroll">venue</a></li>
                        <li><a href="#contact" class="page-scroll">contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    <!-- Footer Start here -->
    <footer class="footer-six">
        <div class="overlay home-six-overlay">
            <div class="container">
                <h2>JavaDay 2018</h2>
                <ul class="event-social">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
                <p>Copyright &copy; 2017</p>
            </div>
        </div>
    </footer>
    <!-- Footer End here -->

</div>

<!-- jQuery -->
<script src="assets/2018/js/jquery-3.1.1.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/jquery-3.1.1.min.js"></script>
<script src="assets/2018/js/jquery-migrate-1.4.1.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/jquery-migrate-1.4.1.min.js"></script>

<!-- Bootstrap -->
<script src="assets/2018/js/bootstrap.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/bootstrap.min.js"></script>

<!-- Coundown -->
<script src="assets/2018/js/jquery.countdown.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/jquery.countdown.min.js"></script>

<!--Swiper-->
<script src="assets/2018/js/swiper.jquery.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/swiper.jquery.min.js"></script>

<!--Masonry-->
<script src="assets/2018/js/masonry.pkgd.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/masonry.pkgd.min.js"></script>

<!--Lightcase-->
<script src="assets/2018/js/lightcase.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/lightcase.js"></script>

<!--modernizr-->
<script src="assets/2018/js/modernizr.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/modernizr.js"></script>

<!--velocity-->
<script src="assets/2018/js/velocity.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/velocity.min.js"></script>

<!--quick-view-->
<script src="assets/2018/js/quick-view.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/quick-view.js"></script>

<!--nstSlider-->
<script src="assets/2018/js/jquery.nstSlider.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/jquery.nstSlider.js"></script>
<script src="assets/2018/js/nstfunctions.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/nstfunctions.js"></script>

<!--flexslider-->
<script src="assets/2018/js/flexslider-min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/flexslider-min.js"></script>
<script src="assets/2018/js/flexfunctions.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/flexfunctions.js"></script>

<!--directional-->
<script src="assets/2018/js/directional-hover.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/directional-hover.js"></script>

<!--easing-->
<script src="assets/2018/js/jquery.easing.min.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/jquery.easing.min.js"></script>

<!-- Google Map -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg&center=-33.9,151.14999999999998&zoom=12&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0xebe3cd&style=element:labels.text.fill%7Ccolor:0x523735&style=element:labels.text.stroke%7Ccolor:0xf5f1e6&style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xc9b2a6&style=feature:administrative.land_parcel%7Celement:geometry.stroke%7Ccolor:0xdcd2be&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0xae9e90&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x93817c&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0xa5b076&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x447530&style=feature:road%7Celement:geometry%7Ccolor:0xf5f1e6&style=feature:road.arterial%7Celement:geometry%7Ccolor:0xfdfcf8&style=feature:road.highway%7Celement:geometry%7Ccolor:0xf8c967&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xe9bc62&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0xe98d58&style=feature:road.highway.controlled_access%7Celement:geometry.stroke%7Ccolor:0xdb8555&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x806b63&style=feature:transit.line%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:transit.line%7Celement:labels.text.fill%7Ccolor:0x8f7d77&style=feature:transit.line%7Celement:labels.text.stroke%7Ccolor:0xebe3cd&style=feature:transit.station%7Celement:geometry%7Ccolor:0xdfd2ae&style=feature:water%7Celement:geometry.fill%7Ccolor:0xb9d3c2&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x92998d&size=480x360"
        tppabs="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg"></script>

<!-- Custom -->
<script src="assets/2018/js/custom.js"
        tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/assets/2018/js/custom.js"></script>

<script type="text/javascript">
    //Home Page map
    var styleArray = [
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#ebe3cd"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#523735"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#f5f1e6"
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#c9b2a6"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#dcd2be"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#ae9e90"
                }
            ]
        },
        {
            "featureType": "landscape.natural",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dfd2ae"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dfd2ae"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#93817c"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#a5b076"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#447530"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#f5f1e6"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#fdfcf8"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#f8c967"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#e9bc62"
                }
            ]
        },
        {
            "featureType": "road.highway.controlled_access",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e98d58"
                }
            ]
        },
        {
            "featureType": "road.highway.controlled_access",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "color": "#db8555"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#806b63"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dfd2ae"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#8f7d77"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#ebe3cd"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dfd2ae"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#b9d3c2"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#92998d"
                }
            ]
        }
    ];

    var mapOptions = {
        center: new google.maps.LatLng(50.449122,30.541155),
        zoom: 15,
        styles: styleArray,
        scrollwheel: false,
        backgroundColor: 'transparent',
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("home-map"),
        mapOptions);
    var myLatlng = new google.maps.LatLng(50.449122,30.541155);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: 'images/map-icon.png'/*tpa=http://demos.codexcoder.com/labartisan/html/BigEvent/images/map-icon.png*/
    });


    var mapOptions = {
        center: new google.maps.LatLng(50.449122,30.541155),
        zoom: 15,
        styles: styleArray,
        scrollwheel: false,
        backgroundColor: 'transparent',
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    var myLatlng = new google.maps.LatLng(50.449122,30.541155);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: 'images/map-icon.png'/*tpa=http://demos.codexcoder.com/labartisan/html/BigEvent/images/map-icon.png*/
    });

</script>


</body>

</html>
