{% extends '2018/static.html.twig' %}

{% block body %}

    <section class="blog-page padding-120">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"><img src="images/blog/blog_post_01.jpg" alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="blog-content">
                            <div>
                                <ul class="post-meta">
                                    <li><a href="#"><span>24</span>December, 2017</a></li>
                                    <li><span class="icon flaticon-user"></span><a href="#">by admin</a></li>
                                    <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                                    <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                                </ul>
                                <!-- post-meta -->
                                <div class="content">
                                    <h4><a href="single.html">Competely actualze cententrc anstaled base</a></h4>
                                    <p>Completelly actuaze cent centric coloration and idea saharing without installed an base awesome theme of event aresourcescreative and awesome event template Completely actuaze cent centric coloration and idea saharing without installed and basie awesome theme of event aresourcescreative and awesome event template.</p>
                                    <a href="single.html" class="default-button">Read More</a>
                                </div>
                                <!-- content -->
                            </div>
                        </div>
                        <!-- blog-content -->
                    </div>
                    <!-- blog item -->
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"><img src="images/blog/blog_post_02.jpg" alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="blog-content">
                            <div>
                                <ul class="post-meta">
                                    <li><a href="#"><span>24</span>December, 2017</a></li>
                                    <li><span class="icon flaticon-user"></span><a href="#">by admin</a></li>
                                    <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                                    <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                                </ul>
                                <!-- post-meta -->
                                <div class="content">
                                    <h4><a href="single.html">Competely actualze cententrc anstaled base</a></h4>
                                    <p>Completelly actuaze cent centric coloration and idea saharing without installed an base awesome theme of event aresourcescreative and awesome event template Completely actuaze cent centric coloration and idea saharing without installed and basie awesome theme of event aresourcescreative and awesome event template.</p>
                                    <a href="single.html" class="default-button">Read More</a>
                                </div>
                                <!-- content -->
                            </div>
                        </div>
                        <!-- blog-content -->
                    </div>
                    <!-- blog item -->
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"><img src="images/blog/blog_post_03.jpg" alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="blog-content">
                            <div>
                                <ul class="post-meta">
                                    <li><a href="#"><span>24</span>December, 2017</a></li>
                                    <li><span class="icon flaticon-user"></span><a href="#">by admin</a></li>
                                    <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                                    <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                                </ul>
                                <!-- post-meta -->
                                <div class="content">
                                    <h4><a href="single.html">Competely actualze cententrc anstaled base</a></h4>
                                    <p>Completelly actuaze cent centric coloration and idea saharing without installed an base awesome theme of event aresourcescreative and awesome event template Completely actuaze cent centric coloration and idea saharing without installed and basie awesome theme of event aresourcescreative and awesome event template.</p>
                                    <a href="single.html" class="default-button">Read More</a>
                                </div>
                                <!-- content -->
                            </div>
                        </div>
                        <!-- blog-content -->
                    </div>
                    <!-- blog item -->
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"><img src="images/blog/blog_post_04.jpg" alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="blog-content">
                            <div>
                                <ul class="post-meta">
                                    <li><a href="#"><span>24</span>December, 2017</a></li>
                                    <li><span class="icon flaticon-user"></span><a href="#">by admin</a></li>
                                    <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                                    <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                                </ul>
                                <!-- post-meta -->
                                <div class="content">
                                    <h4><a href="single.html">Competely actualze cententrc anstaled base</a></h4>
                                    <p>Completelly actuaze cent centric coloration and idea saharing without installed an base awesome theme of event aresourcescreative and awesome event template Completely actuaze cent centric coloration and idea saharing without installed and basie awesome theme of event aresourcescreative and awesome event template.</p>
                                    <a href="single.html" class="default-button">Read More</a>
                                </div>
                                <!-- content -->
                            </div>
                        </div>
                        <!-- blog-content -->
                    </div>
                    <!-- blog item -->
                    <div class="blog-item">
                        <div class="image">
                            <a href="single.html"><img src="images/blog/blog_post_05.jpg" alt="Blog image" class="img-responsive"></a>
                        </div>
                        <!-- image -->
                        <div class="blog-content">
                            <div>
                                <ul class="post-meta">
                                    <li><a href="#"><span>24</span>December, 2017</a></li>
                                    <li><span class="icon flaticon-user"></span><a href="#">by admin</a></li>
                                    <li><span class="icon flaticon-like"></span><a href="#">12 Like</a></li>
                                    <li><span class="icon flaticon-chat"></span><a href="#">24 Comment</a></li>
                                </ul>
                                <!-- post-meta -->
                                <div class="content">
                                    <h4><a href="single.html">Competely actualze cententrc anstaled base</a></h4>
                                    <p>Completelly actuaze cent centric coloration and idea saharing without installed an base awesome theme of event aresourcescreative and awesome event template Completely actuaze cent centric coloration and idea saharing without installed and basie awesome theme of event aresourcescreative and awesome event template.</p>
                                    <a href="single.html" class="default-button">Read More</a>
                                </div>
                                <!-- content -->
                            </div>
                        </div>
                        <!-- blog-content -->
                    </div>
                    <!-- blog item -->
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div>
                            <div class="sidebar-item">
                                <form>
                                    <input type="text" name="search" placeholder="Search...">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- sidebar item -->
                            <div class="sidebar-item">
                                <h4 class="sidebar-title">All Categores</h4>
                                <ul class="categores">
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Brand Creation</a>
                                        <span>04</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Company Analysis</a>
                                        <span>27</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Corporate Identity</a>
                                        <span>05</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Funding</a>
                                        <span>09</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Medical</a>
                                        <span>08</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Strategy Planning</a>
                                        <span>25</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Uncategorized</a>
                                        <span>20</span>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Video Production</a>
                                        <span>30</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- sidebar item -->
                            <div class="sidebar-item">
                                <h4 class="sidebar-title">Latest blog post</h4>

                                <div class="latest-posts">
                                    <div class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/latest_post_01.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h4><a href="single.html">foster team building portal</a></h4>
                                            <ul>
                                                <li><a href="#"><span class="icon flaticon-user"></span> Admin</a></li>
                                                <li><a href="#"><span class="icon flaticon-chat"></span> Comments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog item -->
                                    <div class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/latest_post_02.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h4><a href="single.html">Drticaly fost team building</a></h4>
                                            <ul>
                                                <li><a href="#"><span class="icon flaticon-user"></span> Admin</a></li>
                                                <li><a href="#"><span class="icon flaticon-chat"></span> Comments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog item -->
                                    <div class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/latest_post_03.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h4><a href="single.html">tically a foster team portal</a></h4>
                                            <ul>
                                                <li><a href="#"><span class="icon flaticon-user"></span> Admin</a></li>
                                                <li><a href="#"><span class="icon flaticon-chat"></span> Comments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog item -->
                                </div>
                                <!-- latest posts -->

                            </div>
                            <!-- sidebar item -->
                            <div class="sidebar-item">
                                <h4 class="sidebar-title">Popular News</h4>

                                <ul class="populer-posts">
                                    <li class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/populer_post_01.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h5><a href="single.html">Foulate revlunry mihare awesome the theme.</a></h5>
                                            <span>04 February 2017</span>
                                        </div>
                                    </li>
                                    <li class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/populer_post_02.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h5><a href="single.html">Foulate revlunry mihare awesome the theme.</a></h5>
                                            <span>04 February 2017</span>
                                        </div>
                                    </li>
                                    <li class="blog-item">
                                        <div class="image">
                                            <a href="single.html"><img src="images/blog/populer_post_03.jpg" alt="Blog image" class="img-responsive"></a>
                                        </div>
                                        <div class="content">
                                            <h5><a href="single.html">Foulate revlunry mihare awesome the theme.</a></h5>
                                            <span>04 February 2017</span>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <!-- sidebar item -->
                            <div class="sidebar-item">
                                <h4 class="sidebar-title">Popular Tags</h4>

                                <ul class="tags">
                                    <li><a href="#">children</a></li>
                                    <li><a href="#">school</a></li>
                                    <li><a href="#">shop</a></li>
                                    <li><a href="#">water</a></li>
                                    <li><a href="#">charity</a></li>
                                    <li><a href="#">heaven</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contant</a></li>
                                    <li><a href="#">Design</a></li>
                                </ul>

                            </div>
                            <!-- sidebar item -->

                        </div>
                    </div>
                    <!-- sidebar -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

{% endblock %}