{% extends '2018/static.html.twig' %}

{% block body %}

    <section class="speakers speakers-two padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>OUR SPEAKERS</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>
            <div class="speaker-items">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_01.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_01.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">robot smith</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_02.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_02.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">janaton smith</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_03.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_03.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">WILLIAM JOHN</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_04.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_04.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">Raisen Aero</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_05.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_05.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">Raisen Aero</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_06.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_06.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">robot smith</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_07.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_07.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">janaton smith</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="speaker-item">
                            <div class="speaker-image">
                                <img src="images/speakers/speaker_08.jpg" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/images/speakers/speaker_08.jpg" alt="speaker image" class="img-responsive">
                            </div>
                            <!-- speaker-image -->
                            <div class="speaker-content">
                                <span class="icon"><i class="fa fa-microphone" aria-hidden="true"></i></span>
                                <div class="details">
                                    <h4><a href="speaker-details.html" tppabs="http://demos.codexcoder.com/labartisan/html/BigEvent/speaker-details.html">WILLIAM JOHN</a></h4>
                                    <span>Founder</span>
                                </div>
                            </div>
                            <!-- speaker-content -->
                        </div>
                        <!-- speaker-item -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- speaker-items -->
        </div>
        <!-- container -->
    </section>

{% endblock %}