{% extends '2018/static.html.twig' %}

{% block body %}

    <section id="sponsor " class="sponsor sponsor-uhv event-sponsor-page padding-120">
        <div class="container">
            <div class="section-header text-center">
                <h3>Event Sponsors</h3>
                <p><em>Quickly harness dynamic thinking through value added models.</em></p>
            </div>

            <div class="section-wrapper">

                <!-- platinum sponsor -->
                <div class="sponsor-type-item platinum-sponsor">
                    <h6 class="sponsor-type">Platinum sponsors</h6>
                    <div class="sponsor-list">
                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/01.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/02.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/03.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- gold sponsor -->
                <div class="sponsor-type-item gold-sponsor">
                    <h6 class="sponsor-type">Gold sponsors</h6>
                    <div class="sponsor-list">
                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/11.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/12.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/13.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>
                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/14.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- silver sponsor -->
                <div class="sponsor-type-item silver-sponsor">
                    <h6 class="sponsor-type">Silver sponsors</h6>
                    <div class="sponsor-list">
                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/21.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/22.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/23.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/24.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>

                        <div class="sponsor-item">
                            <div class="sponsor-item-inner">
                                <img src="images/sponsors-uhv/25.jpg" alt="sponsor image" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <a href="" class="sponsor-button default-button">Become a Sponsor</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}